@import "tailwindcss";

@font-face {
    font-family: 'Open Sauce Sans';
    src: url('/fonts/OpenSauceSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Open Sauce Sans';
    src: url('/fonts/OpenSauceSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  :root {
    /* Color variables */
    --color-primary: #000000;    /* Change to your preferred primary color */
    --color-secondary: #757575;   /* Change to your preferred secondary color */
    --color-accent: #392DCBB2;
    --color-bodcol: #393939;  
    --color-green: #77F17E;
    --color-red: #FF3838 ; 
    --color-eclipse:#292C30;
    --color-in-tick:#131418;
    --color-scan-text:#FFDCB5;   /* Change to your preferred accent color */
  }
  

  /* @apply font-[Open_Sauce_Sans]; */
body{
    font-family: 'Open Sauce Sans';
    background-color: black;
}

@layer components {
  .bg-custom-gradient {
    background: linear-gradient(105.62deg, #1B1C21 0%, #131418 100%);
  }
  .text-gradient-gold {
    background: linear-gradient(90deg, #CCA478 0%, #CB8940 65.17%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}